<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div style="text-align:center;">
        <h1>Welcome to example Express app</h1>
        <p>fully developed with MEAN stack</p>
        <a href="news">Go to the app</a>
    </div>
</body>
</html>
